body {
    background-color: #14162C;
    color: #fff;
    overflow-x: hidden;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body::-webkit-scrollbar {
	width: .3rem;
}

body::-webkit-scrollbar-track {
	background-color: #14162C;
}

body::-webkit-scrollbar-thumb {
	background-color: #DA77FF;
}

.hiden {
    overflow: hidden;
}